In [8]:
import pandas as pd
df = pd.read_csv("C:/Users/Daniel Lara/Downloads/2008.csv", nrows = 1e6)

In [9]:
# gestionar datos duplicados

dfduplicate = df.copy()

In [10]:
dfduplicate = dfduplicate.sample(frac=1)

In [4]:
dfclean = dfduplicate.drop_duplicates()

In [11]:
len(dfclean) == len(df)

False

In [12]:
# es diferente de 1e6
len(dfclean)

999996

In [13]:
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
506644,2008,1,24,4,1949.0,1430,2334.0,1830,AA,1374,...,14.0,13.0,0,NaN,0,282.0,0.0,22.0,0.0,0.0
360366,2008,1,10,4,1553.0,1558,1733.0,1756,FL,689,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
436449,2008,1,13,7,1717.0,1610,1930.0,1819,NW,730,...,22.0,19.0,0,NaN,0,67.0,0.0,4.0,0.0,0.0
412119,2008,1,5,6,1754.0,1715,1903.0,1805,MQ,4367,...,2.0,32.0,0,NaN,0,0.0,0.0,25.0,0.0,33.0
841465,2008,2,3,7,2016.0,1411,2343.0,1700,UA,1236,...,4.0,65.0,0,NaN,0,365.0,0.0,38.0,0.0,0.0
493746,2008,1,7,1,555.0,600,741.0,745,AA,845,...,11.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
174744,2008,1,4,5,2254.0,1953,118.0,2114,OO,5437,...,71.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,244.0
574638,2008,1,23,3,2240.0,2245,1315.0,1310,CO,14,...,9.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
381808,2008,1,6,7,1950.0,1955,2128.0,2110,MQ,3150,...,5.0,18.0,0,NaN,0,0.0,0.0,18.0,0.0,0.0
216286,2008,1,30,3,945.0,950,1053.0,1058,OO,6473,...,13.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
804040,2008,2,25,1,1515.0,1522,1620.0,1626,OO,6041,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
378351,2008,1,15,2,1021.0,1025,1129.0,1116,HA,382,...,5.0,27.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
37254,2008,1,14,1,1925.0,1835,2044.0,2000,WN,2133,...,7.0,23.0,0,NaN,0,3.0,0.0,0.0,0.0,41.0
706698,2008,2,1,5,NaN,1355,NaN,1550,XE,2404,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
85006,2008,1,29,2,1101.0,1100,1718.0,1635,WN,1431,...,6.0,9.0,0,NaN,0,0.0,0.0,43.0,0.0,0.0
76653,2008,1,26,6,1820.0,1820,1938.0,2000,WN,177,...,5.0,28.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
945456,2008,2,11,1,607.0,615,737.0,740,FL,348,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
56697,2008,1,20,7,1100.0,1100,1123.0,1135,WN,756,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
763394,2008,2,27,3,1336.0,1315,1533.0,1502,OH,5363,...,4.0,53.0,0,NaN,0,21.0,0.0,10.0,0.0,0.0
333128,2008,1,22,2,1412.0,1415,1441.0,1454,EV,4477,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
907388,2008,2,28,4,1028.0,1036,1145.0,1200,DL,961,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
248897,2008,1,16,3,1207.0,1215,1443.0,1453,UA,1220,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
257639,2008,1,2,3,2114.0,2010,2245.0,2134,US,1892,...,3.0,29.0,0,NaN,0,0.0,0.0,7.0,0.0,64.0
50959,2008,1,18,5,1052.0,1050,1158.0,1210,WN,1854,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
182949,2008,1,9,3,745.0,755,909.0,925,OO,5706,...,4.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103068,2008,1,31,4,959.0,1005,1106.0,1114,XE,2823,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
658944,2008,2,19,2,940.0,940,1027.0,1030,WN,20,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
503517,2008,1,17,4,1240.0,1234,1332.0,1339,AA,1266,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
359478,2008,1,8,2,1548.0,1559,1803.0,1756,FL,432,...,10.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
861544,2008,2,12,2,1014.0,1020,1214.0,1229,US,1855,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
975446,2008,2,21,4,715.0,715,951.0,915,MQ,3590,...,5.0,28.0,0,NaN,0,0.0,0.0,36.0,0.0,0.0

In [14]:
df.dropna()

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [17]:
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999973,2008,2,23,6,1306.0,1235,1514.0,1415,MQ,4694,...,3.0,50.0,0,NaN,0,31.0,0.0,28.0,0.0,0.0
999983,2008,2,28,4,1458.0,1235,1645.0,1415,MQ,4694,...,3.0,37.0,0,NaN,0,0.0,0.0,7.0,0.0,143.0
999988,2008,2,4,1,1754.0,1655,2056.0,2005,MQ,4695,...,2.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,51.0
999989,2008,2,5,2,1812.0,1655,2129.0,2005,MQ,4695,...,4.0,12.0,0,NaN,0,10.0,0.0,7.0,0.0,67.0
999994,2008,2,11,1,1717.0,1655,2030.0,2005,MQ,4695,...,4.0,23.0,0,NaN,0,0.0,0.0,3.0,0.0,22.0

In [18]:
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999913,2008,2,11,1,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
999919,2008,2,17,7,NaN,855,NaN,1210,MQ,4693,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999961,2008,2,17,7,NaN,1445,NaN,1630,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999971,2008,2,22,5,NaN,1235,NaN,1415,MQ,4694,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
999999,2008,2,17,7,NaN,1655,NaN,2005,MQ,4695,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN