In [ ]:
import pandas as pd
df = pd.read_csv("C:/Users/Daniel Lara/Downloads/2008.csv")

## Filtros

In [3]:
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [10]:
df[100:110]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
105,2008,1,3,4,2241.0,1910,2340.0,2010,WN,1072,...,3.0,13.0,0,NaN,0,114.0,0.0,0.0,0.0,96.0
106,2008,1,3,4,1409.0,1355,1513.0,1500,WN,1328,...,2.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
107,2008,1,3,4,1100.0,1050,1157.0,1155,WN,1586,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
108,2008,1,3,4,1306.0,1250,1406.0,1355,WN,1838,...,2.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
109,2008,1,3,4,1726.0,1630,1832.0,1740,WN,2284,...,2.0,18.0,0,NaN,0,1.0,0.0,0.0,0.0,51.0

In [16]:
# filtros !=   ==   >=   <=    <   >  


df[df["ArrDelay"] != 60].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [17]:
df[df["Origin"] == "ATL"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [18]:
# filtros combinados &"dos condiciones", |"una u otra"
df[(df["Origin"] == "ATL") & (df["ArrDelay"] > 60)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,21.0,60.0,0,NaN,0,0.0,0.0,96.0,0.0,0.0
110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,12.0,178.0,0,NaN,0,0.0,0.0,164.0,0.0,14.0
121229,2008,1,3,4,1421.0,1200,1526.0,1325,XE,2132,...,9.0,13.0,0,NaN,0,17.0,0.0,0.0,0.0,104.0
132768,2008,1,6,7,1315.0,1130,1410.0,1240,YV,7267,...,3.0,6.0,0,NaN,0,0.0,0.0,90.0,0.0,0.0
133549,2008,1,7,1,2040.0,1800,2156.0,1932,YV,2626,...,12.0,28.0,0,NaN,0,144.0,0.0,0.0,0.0,0.0

In [19]:
#filtracion vertical
df[df.Origin.isin(["HOU","ATL"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [20]:
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [23]:
len(df[pd.isna(df["ArrDelay"])])

154699

In [24]:
# Crear columna

df["HoursDelay"] = round(df["ArrDelay"]/60)

In [25]:
df["HoursDelay"]

0         -0.0
1          0.0
2          0.0
3         -0.0
4          1.0
          ...
7009723    0.0
7009724   -0.0
7009725    0.0
7009726    0.0
7009727   -0.0
Name: HoursDelay, Length: 7009728, dtype: float64

In [27]:
#Eliminar una columna

del(df["HoursDelay"])

In [29]:
# Eliminar varias columnas a la vez

df = df.drop(["Diverted","Cancelled","Year"], axis = 1)

df.drop(["Diverted","Cancelled","Year"], axis = 1, inplace= True)

In [30]:
df.drop(0)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df.drop(range(0,1000))

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1000,1,3,4,2059.0,1945,2220.0,2105,WN,890,N788SA,...,LAS,407,6.0,14.0,NaN,41.0,0.0,1.0,0.0,33.0
1001,1,3,4,627.0,630,750.0,755,WN,1034,N420WN,...,LAS,407,6.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
1002,1,3,4,1504.0,1355,1631.0,1520,WN,1585,N766SW,...,LAS,407,8.0,13.0,NaN,50.0,0.0,2.0,0.0,19.0
1003,1,3,4,1140.0,1125,1303.0,1250,WN,1918,N267WN,...,LAS,407,7.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1004,1,3,4,1615.0,1540,1741.0,1705,WN,2632,N784SW,...,LAS,407,5.0,16.0,NaN,16.0,0.0,1.0,0.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [39]:
# se unen asi solo si tienen la misma estructura de columnas

newdf = pd.concat([dfATL,dfHOU])
newdf

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,1,21,1,1207.0,1210,1346.0,1335,XE,2349,N14573,...,IAH,689,11.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
103572,1,12,6,1458.0,1500,1622.0,1620,XE,2145,N13969,...,IAH,689,6.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
104019,1,20,7,1403.0,1330,1625.0,1608,XE,1284,N16151,...,EWR,745,6.0,32.0,NaN,0.0,0.0,17.0,0.0,0.0
104124,1,26,6,1629.0,1630,1832.0,1902,XE,1241,N13964,...,EWR,745,9.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN
104485,1,4,5,1336.0,1340,1501.0,1500,XE,2112,N16976,...,IAH,689,12.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003419,12,8,1,1053.0,1050,1354.0,1349,DL,1292,N916DL,...,ATL,696,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
7004690,12,9,2,1105.0,1050,1411.0,1349,DL,1292,N982DL,...,ATL,696,10.0,10.0,NaN,0.0,0.0,7.0,0.0,15.0
7005947,12,10,3,1313.0,1050,1634.0,1349,DL,1292,N912DL,...,ATL,696,15.0,13.0,NaN,143.0,0.0,22.0,0.0,0.0
7007233,12,11,4,1047.0,1050,1355.0,1349,DL,1292,N962DL,...,ATL,696,13.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN
7008545,12,12,5,1114.0,1050,1406.0,1349,DL,1292,N918DL,...,ATL,696,11.0,8.0,NaN,3.0,0.0,0.0,0.0,14.0

In [40]:
newdf.Origin

103149     ATL
103572     ATL
104019     ATL
104124     ATL
104485     ATL
          ...
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, Length: 470446, dtype: object

## Group.by

In [44]:
# por cada Dayofweek va a mostrar un valor de ArrDelay existe min max count describe mean

df.groupby(by = "DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [53]:
df.groupby(by = "DayOfWeek")[["ArrDelay","DepDelay"]].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [50]:
df.groupby(by = "DayOfWeek")["ArrDelay"].max() - df.groupby(by = "DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [51]:
dfATLHOU =  df[df.Origin.isin(["ATL", "HOU"])]

In [52]:
dfATLHOU.groupby(by = ["DayOfWeek","Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64