In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/Daniel Lara/Downloads/2008.csv", nrows = 100000)

In [3]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [4]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [5]:
df = df.sample(frac = 1)
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5117,2008,1,4,5,1518.0,1305,1748.0,1545,WN,1156,...,2.0,8.0,0,NaN,0,7.0,0.0,0.0,0.0,116.0
24824,2008,1,10,4,1841.0,1835,2016.0,2020,WN,3046,...,7.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
43218,2008,1,16,3,1135.0,1135,1237.0,1240,WN,2273,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
51267,2008,1,18,5,1010.0,1010,1114.0,1115,WN,2717,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23043,2008,1,10,4,1435.0,1420,1651.0,1630,WN,2208,...,4.0,11.0,0,NaN,0,0.0,0.0,6.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53124,2008,1,19,6,722.0,720,843.0,835,WN,302,...,2.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24379,2008,1,10,4,1556.0,1555,1706.0,1710,WN,872,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8345,2008,1,5,6,1433.0,1345,1606.0,1520,WN,508,...,6.0,9.0,0,NaN,0,16.0,0.0,0.0,0.0,30.0
57514,2008,1,20,7,2012.0,2015,2207.0,2230,WN,364,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
82998,2008,1,28,1,2103.0,2050,2156.0,2145,WN,1110,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [7]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [8]:
df.values

array([[2008, 1, 4, ..., 0.0, 0.0, 116.0],
       [2008, 1, 10, ..., nan, nan, nan],
       [2008, 1, 16, ..., nan, nan, nan],
       ...,
       [2008, 1, 5, ..., 0.0, 0.0, 30.0],
       [2008, 1, 20, ..., nan, nan, nan],
       [2008, 1, 28, ..., nan, nan, nan]], dtype=object)

In [9]:
df2 = df.head(10)

In [10]:
df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5117,2008,1,4,5,1518.0,1305,1748.0,1545,WN,1156,...,2.0,8.0,0,NaN,0,7.0,0.0,0.0,0.0,116.0
24824,2008,1,10,4,1841.0,1835,2016.0,2020,WN,3046,...,7.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
43218,2008,1,16,3,1135.0,1135,1237.0,1240,WN,2273,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
51267,2008,1,18,5,1010.0,1010,1114.0,1115,WN,2717,...,4.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23043,2008,1,10,4,1435.0,1420,1651.0,1630,WN,2208,...,4.0,11.0,0,NaN,0,0.0,0.0,6.0,0.0,15.0
48456,2008,1,17,4,1355.0,1335,1614.0,1600,WN,2452,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
31669,2008,1,12,6,1847.0,1850,1945.0,1955,WN,261,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
67102,2008,1,23,3,1031.0,1035,1326.0,1340,WN,1936,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
75323,2008,1,26,6,926.0,925,1022.0,1015,WN,4,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
79994,2008,1,27,7,1144.0,1140,1305.0,1255,WN,1141,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN